<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Genero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Adivinaremos tu Genero segun su nombre</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label position="floating"> Introducir el nombre: </ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="predecir()" expand="block"> Adivinar</ion-button>
  </ion-card>
  <div *ngIf="gender">
    <div [style.background-color]="color" class="resultado">
      Género: {{ gender }}
    </div>
  </div>


</ion-content>


