<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Universidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Escribe un pais en ingles y te diremos sus universidades</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label position="floating"> Introducir el pais: </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block"> Buscar</ion-button>
  </ion-card>
</ion-content>
