<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Thammy Franceily" src="assets/me.jpeg">
    <ion-card-header>
      <ion-card-title> Datos creador</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Thammy Franceily Vargas Acosta <br>
      itstham06@gmail.com <br>
      github: mimird06 <br>
      + (849) 851-8802
    </ion-card-content>

  </ion-card>
</ion-content>
